# Global
**/bin/
**/obj/
**/.vs/
**/.vscode/
**/node_modules/
.env
.env.local

# Frontend
frontend/dist/
frontend/.vite/

# Backend
backend/src/Tasky.Api/appsettings.Development.json
backend/src/Tasky.Api/appsettings.json

# Docker
**/.azure/
**/.DS_Store
